@page
@model UI.Pages.Book.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="mt-4">
    <h2>@foreach(var author in @Model.Books.Author){
        if (author != @Model.Books.Author.Last()) {
            @(author.FullName+", ")
        } else {
            @(author.FullName)
        }
    }</h2>
    <h3>@Model.Books.Title</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Cover
        </dt>
        <dd class="col-sm-9">
            <img src="~/img/book/@Model.Books.Cover" asp-append-version="true" class="card-img-top p-3" style="width:20rem;" alt="...">
        </dd>
        <dt class="col-sm-3">
            Beskrivning:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Books.Descr)
        </dd>
        <dt class="col-sm-2">
            Egenskaper:
        </dt>
        <dd class="col-sm-6" style="padding:0;text-align:center;">
            <div>
                @foreach (var a in Model.Books.Attributes)
                {
                    string style = "background:white;padding-bottom:0.5rem;margin:0;text-align:center;";
                    <div style="@style">
                        <span style="padding-right:0.25rem;">@a.Names.Name</span>:<span style="margin-left:0.5rem;text-align:left;display:inline-block;">@a.Value</span>    
                        <a type="submit" style="color:red;text-decoration:none; width:3rem;" asp-route-book="@Model.Books.Id" asp-route-attr="@a.AttributeId" asp-page="/Book/Attribute" asp-page-handler="Remove">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    </div>
                }
            <a asp-page="/Book/Attribute" asp-page-handler="Add" asp-route-id="@Model.Books.Id" >Add Attribute </a>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Books.Id">Edit</a> |
    <a style="color:red"asp-page="/Book/Remove" asp-route-id="@Model.Books.Id">Remove</a> |
    <a asp-page="./Index">Back to List</a>
</div>
